*{
  font-family: "Poppins", sans-serif;
}

#item img{
  height: 114px;
  width: 100px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0px;
  background: #c4c4c4;
}
#banner{
  margin-top:12px;
  margin-left: 10px;
}

.minus_button {
  width: 20px;
  height: 24px;
  background: linear-gradient(#fff, #f9f9f9);
  display: inline-block;
  border: 1px solid #c2c2c2;
  cursor: pointer;
  font-size: 16px;
  padding-top: 1px;
  line-height: 1;
}

.plus_button {
    width: 20px;
    height: 24px;
  background: linear-gradient(#fff, #f9f9f9);
  display: inline-block;
  border: 1px solid #c2c2c2;
  cursor: pointer;
  font-size: 16px;
  padding-top: 1px;
  line-height: 1;
}

.input1 {
  border: none;
  width: 44px;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  height: 28px;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  margin-right: -5px;
}

.basket {
  width: 20px;
  height:20px;
  margin-left: 40px;
}


.applybutton {
  height: 44px;
  width: 550px;
  color: white;
  text-align: center;
  font-size: medium;
  line-height: 39px;
  margin: 5px auto;
}

.button__text {
  display: inline-flex;
  margin: 12px;
  margin-top: 15px;
  font-style: medium;
  font-size: 16px;
  line-height: 26px;
  line-height: 100%;
  text-align: center;
  vertical-align: center;
  margin-left: 5px;
}

.applybutton2 {
  height: 30px;
  text-align: center;
  font-size: medium;
  line-height: 35px;
  margin: 10px auto;
  font-size: medium;
}


.price{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  
}

.price_indiv{
  font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
}

.col-md-6.remove {
  height: 16px;
}


.btn1{
  border: 0px;
  background-color:#F9EDE2;
}