body{
    overflow-x: hidden;
   
}
.container1 {
  
/* border: 1px solid red; */
    /* margin:99px auto; */
 /* overflow-x: hidden; */
    padding: 10px 15px;

}
.formBox1{
   /* margin-left: 5px;
   margin-right:5px; */
}
.rowContainerBox2{
  max-width: 1290px; 
 justify-content: space-between;
    margin: auto;
}
/* .inputBox1 {
  
    margin-top: 24px;
} */
/* .hrOrline {
   
    margin-top: 24px;
} */
.inputDivBox1{
    margin-top: 20px;
}
.btnSign1{
    margin-bottom: 16px;
    margin-top: 16px;

}
.checkBoxArea{
    margin-top: 45px;
    margin-bottom: -13px;
}
.orSection{
margin-bottom: -33px;
}
.socialLoginBtn1 a{
    color: #000000;
}
.orSection2 {
    margin-bottom: 0px;
}
@media screen and (min-width: 850px) and (max-width: 1254px) {
    .imgBox1{
    width: 50%;
    }
    .formBox1{
        width: 40%;
    }
}
@media screen and (max-width: 850px) {
    .rowContainerBox2{
        display: flex;
        justify-content: center;
    }
    .imgBox1{
        width: 100%;
    }
   .formBox1{
       width: 100%;
   }
   
}
@media screen and  (min-width: 300px) and  (max-width: 550px) {
   .imgBox1{
       height:520px;
       background-size: 100% 100%;
       transition: 0.3s;
   }
   .offDivBox1{
       font-size: 41px;
       height: 61.29px;
       width: 200.45px;
       transition: 0.3s;
   }
}
@media screen and (min-width: 851px) {
    .rowContainerBox1 {
        display: none;
    }
    .formHeading1{
        display: default;
    }
}
@media screen and (max-width: 850px) {
    .rowContainerBox1 {
        display: defaul;
    }
    .formHeading1{
        display: none;
    }
}
@media screen and (max-width: 1230px) {
    .imgBox1{
        margin: auto 20px;
    }
    .formBox1{
        margin: auto 15px;
    }

}
@media screen and (max-width: 1300px) {
   
}


@media (min-width:320px) and (max-width:425px){
    .imgBox1 {
        height: 411px;
       
    }
}