@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;700&display=swap');

body {
    height: 1017px;
    background: #FFFFFF;


}

.container1 {
    margin-top: 54px;
    display: flex;

    justify-content: center;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    box-sizing: border-box;

    /* margin-left:  26px;
    */

}

/* item-1 start */

#item-1 {

    width: 660px;
    height: 700px;
    background: #F9EDE2;
    padding-left: 23px;
    padding-top: 37px;
    padding-right: 23px;
    margin: 0 27px;
    box-sizing: border-box;
    /* border: 1px solid red; */
    margin-bottom: 30px;
    /* margin-right: 86px; */
    /* margin-left: 30px; */
}

.row1 {

    display: flex;
    justify-content: space-between;

}

.btn-one {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid #07203F;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    padding-top: 6px;
    background: #07203F;
    color: #fff;
}

.btn-two {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid #07203F;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    padding-top: 6px;
    position: relative;
    bottom: -40px;
    margin-bottom: 45px;

}

.rad2jq2s {
    background-color: #07203F;
}

.sel-add {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    display: flex;
    bottom: 28px;
    padding-left: 56px;
}

#vl {
    border-left: 0.2px dashed #000000;
    height: 130px;
    margin-left: 15px;
    margin-top: 5px;
}


.name-1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    bottom: 1px;
    margin-left: 17px;
}


.full-add {
    padding-left: 58px;
    position: relative;
    bottom: 15px;
    font-size: 14px;
    width: 100%;
}

#soundsignal {
    background-color: #07203F;
    color: #07203F;
    border-radius: 50%;
    border: 1px solid black;
    width: 12px;
    height: 12px;
    justify-content: flex-start;
    margin-left: 20px;
}
#new-add {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
    border: 1px solid #07203F;
    /* box-sizing: border-box; */
    border-radius: 10.2857px;
    /* padding: 2px 4px; */
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 5px;
    color: #07203F;
    background-color: #F9EDE2;

}

.new-add2jqq {
    width: 150px;
    height: 34px;
    margin-right: 20px;
    justify-content: space-around;
    display: flex;
}

#new-add img {
    color: #07203F;
    padding-left: 0px;
}

.row12 {
    padding-left: 40px;
}

/* item-1 end */
/* item-2 start */
#item-2 {
    height: 420px;
    width: 550px;
    border-radius: 0px;
    background: #F9EDE2;
    margin: 0 27px;
    z-index: -1;
}

/*==== PAYMENT ====*/
#payment1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    display: flex;
    bottom: 33px;
    padding-left: 56px;
}

.sel2qq7j1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 16px;
    line-height: 24px;
    margin-left: 56px;
    color: #000000;
    display: flex;
    /* justify-content: flex-start; */
}
.repadipayq7j {
    /* width: 462px; */
    /* border: 1px solid red; */
    margin-left: 56px;
}
.repadipay {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 20px;
}

.curpay {
    position: relative;
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #000000;
    right: -280px;
}

.curpay11 {
    position: relative;
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #000000;
    right: -350px;
}

.pay_price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    float: right;
    color: #A65E46;
    position: relative;
    display: flex;
    margin-left: 50px;
}

.pay_price12 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    float: right;
    color: #A65E46;
    position: relative;
    display: flex;
    margin-left: 50px;
}



.payopaq7jj {
    width: 462px;
    background: #07203F;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 55px;
    height: 171px;
    margin-top: 17px;
}

.debcard {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 60px 36px;
    justify-content: center;
}



.hr22pqj7jony {
    border-top: 0px solid white;
    margin-top: 7px;
}

.qj22_card {
    margin-top: 10px;
}

.qj22_card img {
    height: 15px;
    justify-content: flex-end;
    display: inline-flex;
    position: relative;
    float: right;
    right: 20px;
    top: 2px;
}

.qj_card img {
    height: 15px;
    justify-content: flex-end;
    display: inline-flex;
    position: relative;
    float: right;
    right: 20px;
    top: 5px;
}

.qj_card {
    margin-top: 6px;
}

.payment7jj {
    width: 462px;
    background: #07203F;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 56px;
    height: 41px;
    margin-top: 17px;
}

.row2 {
    padding-left: 20px;
    padding-top: 23px;
    padding-right: 46px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.order-summary {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.apply-dis {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    position: relative;
    bottom: 5px;
}

.price-details {
    padding-left: 20px;
    padding-top: 23px;
    padding-right: 46px;
    font-family: 'Poppins';
    font-style: medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

#row22 {
    height: 44px;
    background-color: #A65E46;
    text-align: center;  
    padding-top: 8px; 
}

#row22 img {
    /* padding-left: 20px; */
    padding-top: 2px;
}

#row-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 46px;
    padding-bottom: 30px;


}

.all-details1 {
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

#row-right {
    display: block;
    direction: rtl;
}

#bottom {
    position: relative;
    top: 15px;
    /* bottom: 15px; */
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 46px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

}



/* item-2 end */

@media screen and (max-width: 600px) {

    #item-1 {

        width: 100%;

        margin-bottom: 20px;
        height: 700px;
    }


    #item-2 {
        width: 100%;
        margin: auto;
    }

    .full-add {
        width: 80%;
    }


}

@media screen and (max-width: 800px) {
    #item-1 {
        width: 100%;
        margin: 10px, auto;
    }

    #item-2 {
        width: 100%;
        margin: auto;

    }
}

@media screen and (max-width: 800px) {
    #new-add {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        text-decoration: none;
        border: 1px solid #07203F;
        box-sizing: border-box;
        border-radius: 10.2857px;
        padding: 2px 4px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #vl {

        height: 130px;

    }

    #item-1 {
        width: 100%;
    }

    #item-2 {
        width: 700px;
    }

}

@media screen and (max-width:457px) {
    .full-add {
        width: 50%;
    }
}

@media  (min-width:433px) and (max-width:456px) {
   

    .full-add {
        width: 80%;
    }

    #item-1 {
        width: 100%;
    }

    #item-2 {
        width: 100%;

    }

}

@media (max-width:396px) {

    #item-1 {
        height: auto;

    }
    .full-add {
        padding-left: 42px;
        position: relative;
        bottom: 17px;
        font-size: 12px;
        width: 50%;
    }

}

/* @media screen and (max-width:340px) {
    #item-1 {
        height: auto;
        font-size: 12px;
    }
} */

@media screen and (max-width:335px) {


    .name-1 {

        font-weight: 500;
        font-size: 13px;
        line-height: 24px;
        position: relative;
        bottom: 1px;
    }

    .full-add {
        padding-left: 42px;
        position: relative;
        bottom: 17px;
        font-size: 12px;
        width: 40%;
    }

    .delete-btn {
        height: 28px;
        font-size: 11px;

    }

    .sel-add {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 10px;
        padding-left: 25px;
        position: relative;
        bottom: 30px;
        left: 30px;

    }
    #payment1{
        font-size: 12px;
    }
.sel2qq7j1{
    font-size: 12px;
}
    #new-add {
        font-size: 7px;
        height: 30px;
        padding-top: 5px;
        padding-bottom: 20px;
        margin-left: 40px;
    }

    .new-add2jqq {
        width: 100px;
    }
}


@media screen and (min-width:400px) and (max-width:430px) {
#vl{
    height: 195px;
}

}



@media screen and (min-width:1074px) and (max-width:1400px) {
    #item-1 {
        display: inline;
        flex-direction: column;
        width: 55%;
        margin-left: -240px;
    }

    #item-2 {
        width: 400px;
        margin-right: -230px;
    }
}

@media screen and (max-width:1073px) {
    .curpay {
        float: right;
        right: 55px;
    }

    .pay_price {
        float: right;
        right: -65px;
    }

    .payopaq7jj {
        width: 100%;
    }

    .payment7jj {
        width: 100%;
    }

    .curpay11 {
        float: none;
        right: -200px;
    }

    .pay_price12 {
        font-size: 14px;
        left: 35px;
    }

    #item-2 {
        width: 70%;
    }

    #item-1 {
        width: 70%;
        
    }
    /* #vl {

        height: 130px;

    } */

}

@media screen and (max-width:770px) {
    .curpay {
        float: right;
        right: 60px;
    }

    .pay_price {
        right: -64px;

    }

    .payopaq7jj {
        width: 100%;
    }

    .payment7jj {
        width: 100%;
    }

    .curpay11 {
        float: none;
        right: -200px;
    }

    #item-2 {
        width: 90%;
    }

    #item-1 {
        width: 90%;
    }

    .pay_price12 {
        font-size: 14px;
        left: 34px;
    }
    /* #vl {

        height: 150px;

    } */

}

@media screen and (max-width:567px) {
    .curpay {
        float: none;
        right: -90px;
    }

    .sel-add {
        font-size: 13px;
    }

    .name-1,
    .full-add {
        font-size: 13px;
    }

    .pay_price {
        float: right;
        right: 1px;

    }

    .pay_price12 {
        font-size: 14px;
        left: 1px;
    }

    .payopaq7jj {
        width: 85%;
    }

    .payment7jj {
        width: 85%;
    }

    .curpay11 {
        left: 170px;
    }

    #item-2 {
        width: 95%;
    }

    #item-1 {
        width: 95%;
    }
    /* #vl {

        height: 130px;

    } */

}

@media screen and (max-width:400px) {
    .payopaq7jj {
        margin-left: 20px;
    }

    .curpay {
        float: none;
        right: -30px;
        font-size: 12px;
    }
    .pay_price {
        float: none;
        display: inline-block;
        font-size: 12px;
        right: 5px;
    }
    .sel-add {
        font-size: 12px;
        line-height: 15px;
        text-align: start;
    }
.full-add{
    margin-left: 16px;
}
    .name-1,
    .full-add {
        font-size: 12px;
    }

    .repadipay {
        font-size: 12px;
    }

   

    .curpay11 {
        left: 80px;
        font-size: 12px;
    }

    .pay_price12 {
        font-size: 12px;
        left: -5px;
    }

    .debcard {
        margin-left: 3px;
        font-size: 12px;
    }

    #item-1 {
        width: 95%;

    }

    #item-2 {
        width: 95%;
        font-size: 12px;

    }

    .order-summary,
    .apply-dis {
        font-size: 13px;
    }

    .price-details {
        font-size: 12px;
    }

    .all-details1 {
        font-size: 10px;
    }

    .payopaq7jj {
        width: 100%;

    }

    .payment7jj {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .new-add2jqq {
        width: 200px;
        margin-left: 0px;
        margin-top: 0px;
    }

    #new-add {
        font-size: 7px;
        /* padding-top: 1px;
        padding-bottom: 6px; */
    }

    .row1 {
        display: flex;
    }

    #new-add img {
        width: 10px;
        font-size: 10px;
    }
    #payment1{
        font-size: 12px;
    }
.sel2qq7j1{
    font-size: 12px;
margin-top: -25px;
}
#vl{
    height: 170px;
}
}
@media (min-width:300px) and (max-width:336px){
    #vl{
        height: 168px;
    }
}
